@import "tailwindcss";

@theme {
  --color-dark-one: #010B13;
  --color-light: #Ffffff;
  --color-muted: #4b5563;
  --color-faint: #9ca3af;
  --color-accent: #ffdb58;
  --color-accent-strong: #e6c200;
  --color-footer: #f4f4f4;
  --font-header: var(--font-header), "Madimi One", cursive, sans-serif;
  --font-content: var(--font-content), "JetBrains Mono", monospace;
}
